<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/lessons">AYASIB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="ml-auto form-inline my-2 my-lg-0">
        <% if(!currentUser) { %>
          <a class="nav-item nav-link" href="/lessons">Learn</a>
          <a class="nav-item nav-link" href="/user/register">Register</a>
          <a class="nav-item nav-link" href="/user/login">Login</a>
        <% } else {%>  
          <a class="nav-item nav-link" href="/lessons">Learn</a>
          <a class="nav-item nav-link" href="/profile">Profile</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        <% } %> 
      </form>
    </div>
  </nav>