<nav class="navbar fixed-top navbar-expand-lg navbar-dark blue-gradient scrolling-navbar">
  <img src="/ayasibLogoWhite.png" alt="AYASIB Logo" class="logo">
  <a class="navbar-brand" href="/lessons"><strong>AYASIB</strong>
    <% if (currentUser) { %>
    Learning with <strong id="username"><%= currentUser.username.charAt(0).toUpperCase()+currentUser.username.slice(1) %>
      </strong>
      <% } %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <span><i class="fas fa-caret-down"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <% if(!currentUser) { %>
    <ul class="navbar-nav nav-flex-">
      <li class="nav-item">
        <a class="nav-link" href="/dictionary"><i class="fas fa-book"></i>  Dictionary</a>
      </li>
      <li class="nav-item divider">
        <a class="nav-link" aria-disabled="true">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lessons"><i class="fas fa-brain"></i>  Learn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/register"><i class="fas fa-user-edit"></i>  Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/login"><i class="fas fa-walking"></i>  Login</a>
      </li>
      <% } else {%>
      <ul class="navbar-nav nav-flex-">
        <li class="nav-item">
          <a class="nav-link" href="/dictionary"><i class="fas fa-book"></i>  Dictionary</a>
        </li>
        <% if (currentUser.accountType === 'admin') { %>
        <li class="nav-item">
          <a class="nav-link" href="/contribute/review"><i class="fas fa-search-plus"></i>  Review Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dictionary/add"><i class="fas fa-plus-square"></i>  Add to Dictionary</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/lessons"><i class="fas fa-brain"></i>  Learn</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/contribute"><i class="fas fa-plus"></i>  Contribute</a>
          </li>
        <% } %>
        <li class="nav-item divider">
          <a class="nav-link" aria-disabled="true">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/profile"><i class="fas fa-user-circle"></i>  Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>  Logout</a>
        </li>
        <% } %>
      </ul>

  </div>
</nav>