<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/css") %>
    <link rel="stylesheet" href="/css/learn.css">
    <title>Admin Lesson Add</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Admins please add Lessons</h1>
          <p class="lead">Enter the phrase, the translation, and the category it should be in.</p>
        </div>
      </div>
    <div class="container">
        <form action="/lessons/add" method="POST">
            <div class="form-group short">
                <label for="phrase">Bisaya Phrase</label>
                <input type="text" class="form-control" id="bPhrase" name="phrase" placeholder="Bisaya Phrase" required>
                </div>
                <div class="form-group short">
                <label for="translation">English Translation</label>
                <input type="text" class="form-control" id="ePhrase" name="translation" placeholder="English Translation" required>
                </div>
                <div class="form-group short">
                <label for="lesson">Lesson</label>
                <select class="form-control form-control-md" id="lesson" name="lesson">
                    <option>Greetings</option>
                    <option>Questions</option>
                    <option>Family</option>
                    <option>Travelling</option>
                    <option>General</option>
                </select>
                </div>
            <button type="submit" class="btn btn-primary" id="add">Submit</button>
        </form>
    </div>

    
    
      



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('partials/js') %>
    <script src="/js/addPhrase.js"></script>
</body>

</html>


