<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="ayasibIcon.png">
    <%- include('partials/css') %>
    
    <link rel="stylesheet" href="/css/done.css">

    <title>Contribute Success</title>
</head>

<body>
    <%- include("partials/navbar") %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Daghang salamat! Nadawat na namo ang imong gipadala</h1>
            <p class="lead">Thank you so much! We've received your submission</p>
            <form action="/lessons" method="GET">
                <button type="submit" class="btn btn-primary">Back to Lessons</button>
            </form>
        </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('partials/js') %>
</body>

</html>