<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/css') %> 
    <link rel="stylesheet" href="/css/learn.css">
    <title>Dictionary Add</title>
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Admins please add to dictionary</h1>
        </div>
    </div>
    <div class="container">
        <%- include("partials/flash") %> 
        <form action="/dictionary/add" method="POST">
            <div class="form-group">
                <label for="bisayaWord">Bisaya Word</label>
                <input type="text" class="form-control" id="bisayaWord" name="bisayaWord" required>
            </div>
            <div class="form-group">
                <label for="englishWord">English Word</label>
                <input type="text" class="form-control" id="englishWord" name="englishWord">
            </div>
            <div class="form-group">
                <label for="bisayaMeaning">Bisaya Meaning</label>
                <input type="text" class="form-control" id="bisayaMeaning" name="bisayaMeaning" required>
            </div>
            <div class="form-group">
                <label for="englishMeaning">English Meaning</label>
                <input type="text" class="form-control" id="englishMeaning" name="englishMeaning" required>
            </div>
            <div class="form-group">
                <label for="partOfSpeech">Part of Speech</label>
                <input type="text" class="form-control" id="partOfSpeech" name="partOfSpeech" required>
            </div>
            <input type="submit" class="btnSubmit btn btn-primary">
        </form>
        
    </div>







    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <%- include('partials/js') %> 
    
</body>

</html>