


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/css') %>
    <link rel="stylesheet" href="/css/landing.css">
    <title>AYASIB Login</title>
</head>

<body>
    <header>

        <!--Navbar -->
        <nav class="navbar navbar-expand-lg scrolling-navbar navbar-dark z-depth-0 fixed-top">
          <a class="navbar-brand" href="#">
            <img src="ayasibLogo.png" alt="AYASIB Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                  <a class="dropdown-item" href="#">My account</a>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!--/.Navbar -->
      
        <!-- Intro -->
        <section class="view">
      
          <div class="row">
      
            <div class="col-md-6">
      
              <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <h1 class="heading">Welcome to AYASIB</h1>
                <h4 class="subheading font-weight-bold">A community-based language learning app</h4>
                <div class="mr-auto">
                  <button type="button" class="btn blue-gradient btn-margin btn-rounded">Get started <i class="fas fa-caret-right ml-3"></i></button>
                </div>
              </div>
      
            </div>
      
            <div class="col-md-6">
      
              <div class="view">
                <img src="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg" class="img-fluid" alt="smaple image">
                <div class="mask flex-center hm-gradient">
                </div>
              </div>
      
            </div>
      
          </div>
      
        </section>
        <!-- Intro -->
      
      </header>
      <!-- Main navigation -->
</body>

</html>


