<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/css') %>
    <link rel="stylesheet" href="/css/learn.css">
    <title>AYASIB Login</title>
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Login to your AYASIB account</h1>
          <p class="lead">Ready to learn some more?</p>
        </div>
      </div>
    <div class="container">
        <%- include("partials/flash") %>
        <form action="/user/login" method="post">
            <div class="form-group short">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
              </div>
              <div class="form-group short">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    
    
      



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('partials/js') %> 
</body>

</html>


