@media only screen and (max-width: 1000px) {
    .divider{
        display: none;
    }
  }

  .divider:hover{
    pointer-events: none;
    cursor: default;
  }
  .divider{
    pointer-events: none;
    cursor: default;
}

.hide{
  display: none;
}

.jumbotron{
    margin-top: 50px;
}

.card-text{
  color: black !important;
  font-weight: 250 !important;
  font-size: 1.2rem !important;
}

@media only screen and (max-width: 500px) {
  body{
      font-size: 12px;
  }
  .jumbotron{
      margin-top: 40px;
      padding-bottom: 5px;
  }
}

.logo{
  width: 5%;
  margin-right: 15px;
}

.btnReply{
  padding: 5px 10px !important;
  margin: 2px 0;
  float: right;

}