<!-- Modal -->
<div class="modal fade" id="lesson100Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content paddedModal">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle"><small>Ang Mga Punima Sigmintal</small></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modalHeader">The Segmental Phonemes</h4>
                <p>Cebuano Visayan has two kinds of segmental phonemes the vowels and consonants. Its vowels are only three and its consonants are fifteen. Three vowel phonemes of Cebuano Visayan language are made up of one front vowel [i], one center [a], and one back vowel [u]. All Cebuano Visayan words are syllable-timed.</p>
                <h5 class="modalHeader">Patingug Atubang</h5>
                <p>Front Vowel</p>
                <h5 class="modalHeader">Patingug Tunga</h5>
                <p>Center Vowel</p>
                <h5 class="modalHeader">Patingug Luyo</h5>
                <p>Back Vowel</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>