<!-- Modal -->
<div class="modal fade" id="lesson2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content paddedModal">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle"><small>Ang Patingug Tunga</small></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modalHeader">The Center Vowel[a]</h4>
                <p>[a] is produced at the center of the tongue: mouth opens wide almost round, lax yet loud, just short.</p>
                <h5 class="modalHeader">Atu'ng bansayun paglituk ang [a] sa mga pulung:</h5>
                <p>Let us practice producing [a] in words</p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        ASA where
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        ANHA there
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        ANA that way
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        ANAD tame/used to
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        APAN but
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        BANA husband
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        MAPA map
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        KADA every
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        BALA bullet
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SAPA river
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SAPA river
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SAKSAK stab
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        KATKAT climb
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        TADTAD chop
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        DALAN street
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        PADPAD blown
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sabot na ko <small>Got it</small></button>
            </div>
        </div>
    </div>
</div>