<!-- Modal -->
<div class="modal fade" id="lesson103Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content paddedModal">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle"><small>Ang Patingug Atubang</small></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modalHeader">The Back Vowel [u]</h4>
                <p>[u] is produced at the back of the tongue: mout is almost round, lips almost pouting, tense, a little longer.</p>
                <h5 class="modalHeader">Atun'ng bansayun paglituk ang [u] sa mga pulung:</h5>
                <p>Let us practice producing [u] in words</p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        UTUT fart
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        ULU head
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        USU trend
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        UNGU witch
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        UBU cough
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        PUNGUT hate
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SUL-UB wear
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SULUD inside
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        BULUK color
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SUSU breast
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        ANU-US soot
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        BALUD wave
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        LUNUD shipwreck
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        LUMUS drown
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SUNUD follow/next
                    </div>
                    
                </div>
                <P>ILIS change</P>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>