<!-- Modal -->
<div class="modal fade" id="lesson101Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content paddedModal">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle"><small>Ang Patingug Atubang</small></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modalHeader">The Front Vowel [i]</h4>
                <p>[i] is produced at the front of the tongue: lips are spread assuming a smile, tense and sharp, a
                    little longer.</p>
                <h5 class="modalHeader">Atun'ng bansayun paglituk ang [i] sa mga pulung:</h5>
                <p>Let us practice producing [i] in words</p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        ILIS change
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        INIT hot
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        INGKIB bite
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        IS-IS smooth
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        TIL-IS resound
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        IBILIN leave
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        NGITNGIT dark
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        IPI-IT press
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        BISIBIS sprinkle
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        BITI-IS leg
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        SINGGIT shout
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        LINIKIT rolled
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        TI-IL foot
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 noBotPadding">
                        KILKIL scratch
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sabot na ko <br><small>Got it</small></button>
            </div>
        </div>
    </div>
</div>